altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
fastapi
fonttools
gitdb
GitPython
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
narwhals
numpy
packaging
pandas
pillow
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
six
smmap
sniffio
starlette
streamlit
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
